<div class="max-w-5xl mx-auto"> 
    <h2 class="text-3xl font-semibold text-center">About me</h2>
    <p class="mt-4 text-center md:text-justify"> I am a Computer Engineering student at the Escuela Superior Politecnica del Litoral (ESPOL) in Guayaquil, Ecuador. I aspire to become a full stack developer and am passionate about continuously learning new technologies. Currently, I am honing my skills in both front-end and back-end development, and I am actively pursuing the path that will lead me to that aspiration.</p>
</div>