<nav class="bg-[#0F0F11] p-4 fixed w-full z-10 top-0"> 
  <ul class="flex justify-around text-white">
    <li><a href="#home" class="hover:underline"></a>Home</li>
    <li><a href="#about" class="hover:underline"></a>About me</li>
    <li><a href="#skills" class="hover:underline"></a>Skills</li>
    <li><a href="#contact" class="hover:underline"></a>Contact</li>
  </ul>
</nav>

<main class="mt-20">
  <section id="home" class="min-h-screen p-4">

  </section>
  <section id="about" class="min-h-screen p-4">

  </section>
  <section id="skills" class="min-h-screen p-4">

  </section>
  <section id="contact" class="min-h-screen p-4">

  </section>
</main>