/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


html{
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
}

body nav a svg{
  fill: black;
}
  
body.dark-mode {
  @apply bg-[#0F0F11] text-white;
}

body.dark-mode nav {
  background-color: #0F0F11;
  color: white;
}

body.dark-mode nav a svg{
  fill: white;
}

body.dark-mode nav button {
  background-color: #0F0F11; 
  color: black;
}

body.dark-mode nav img {
  filter: invert(1);
}



