/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

body nav a svg{
  fill: black;
}
  
body.dark-mode {
  @apply bg-[#0F0F11] text-white;
}

body.dark-mode nav {
  background-color: #0F0F11;
  color: oklch(70.9% .015 304.04);
}

body.dark-mode nav a svg{
  fill: oklch(70.9% .015 304.04);
}

body.dark-mode nav button {
  background-color: #0F0F11; 
  color: black;
}

body.dark-mode nav img {
  filter: invert(1);
}



